<body>
  <!-- Header -->
  <div id="header">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div id="logo" class="col-lg-3 col-md-3 col-sm-12">
          <% if (configs) { %>
          <h1>
            <a href="/">
              <img
                class="img-fluid"
                src="../uploads/images/<%= configs.logo_header %>"
                alt="Logo"
              />
            </a>
          </h1>
          <% } else { %>
          <h1>
            <a href="/">
              <img class="img-fluid" src="images/logo.png" alt="Logo" />
            </a>
          </h1>
          <% } %>
        </div>

        <!-- Search -->
        <div id="search" class="col-lg-5 col-md-6 col-sm-12">
          <form action="/search" class="form-inline">
            <input
              name="keyword"
              class="form-control mt-3"
              type="search"
              placeholder="Tìm kiếm sản phẩm..."
              aria-label="Search"
            />
            <button class="btn btn-danger mt-3 ml-2" type="submit">
              Tìm kiếm
            </button>
          </form>
        </div>

        <!-- Cart + User -->
        <div id="cart" class="col-lg-4 col-md-3 col-sm-12 text-right">
          <% if (typeof customer !== "undefined" && customer) { %>
          <!-- Khi đã đăng nhập -->
          <div class="dropdown d-inline-block mr-3 mt-3">
            <a
              class="dropdown-toggle text-light"
              href="#"
              id="userMenu"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-user mr-1"></i>
              Xin chào,
              <b class="text-danger text-capitalize"
                ><%= customer.full_name %></b
              >
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userMenu"
            >
              <a class="dropdown-item" href="/customer">
                <i class="fas fa-file-alt"></i> Thông tin chi tiết
              </a>
              <a class="dropdown-item" href="/logout">
                <i class="fa fa-sign-out-alt"></i> Đăng xuất
              </a>
            </div>
          </div>

          <!-- Giỏ hàng -->
          <div class="dropdown d-inline-block">
            <a
              class="dropdown-toggle text-light position-relative"
              href="#"
              id="cartMenu"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-shopping-cart"></i>
              <span class="cart-badge">
                <%= typeof totalCartItems !== "undefined" ? totalCartItems : 0
                %>
              </span>
              Giỏ hàng
            </a>

            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="cartMenu"
            >
              <a class="dropdown-item" href="/cart">
                <i class="fas fa-shopping-cart"></i> Giỏ hàng của bạn
              </a>
              <a class="dropdown-item" href="/historyOrder">
                <i class="fas fa-file-alt"></i> Đơn hàng đã mua
              </a>
            </div>
          </div>

          <% } else { %>
          <!-- Khi chưa đăng nhập -->
          <div class="d-inline-block mt-3">
            <a href="/login" class="text-light mr-2">
              <i class="fa fa-sign-in-alt"></i> Đăng nhập
            </a>
            |
            <a href="/register" class="text-light ml-2 mr-2">
              <i class="fa fa-user-plus"></i> Đăng ký
            </a>
            |
            <a href="/cart" class="text-light ml-2">
              <span class="cart-badge">
                <%= typeof totalCartItems !== "undefined" ? totalCartItems : 0
                %>
              </span>
            </a>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Toggler Button -->
    <button
      class="navbar-toggler navbar-light"
      type="button"
      data-toggle="collapse"
      data-target="#menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <!-- End Header -->
</body>
<%- include("../../chat.ejs", { role: "customer" }) %>
